<a href="https://colab.research.google.com/github/yousifalasfar/yousifalasfar/blob/main/YA_Pandas_datetime_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Pandas Date&time Methods**

In Python, date and time are not a data type of their own, but a module named datetime can be imported to work with the date as well as time. Python Datetime module comes built into Python, so there is no need to install it externally.

 **System Requierments**

*   Jupyter Notebook (in VScode, Google Colab, or Anaconda), Python, and Requests.

**Installations & Imports**

In [672]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [673]:
#Read the csv file
df =(pd.
read_csv('https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv')
)
df

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [674]:
# Jsut to give you an idea about the dats you're wroking on (rows, columns)
df.shape

(23674, 7)

In [675]:
#Check the dtype of cloumns and notice that date is ab object
df.dtypes

Date       object
Symbol     object
Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

---> **to_datetime** 

*  In order to to use datetime functions on a column,  dtype the of column must be datetime

*   We can convert column to datetime by using to_datetime()

Strptime(str, format)
*   This function takes a string and format as an arrguments and to converts the string to time object

In [676]:
pd.datetime.strptime(df.iloc[0,0], '%Y-%M-%d %H-%p')

datetime.datetime(2020, 1, 13, 8, 3)

*  We need to convert Date column to datetime using to_datetime()
* In order for datetime to work we need to tell pandas which fromat we wish it to be
* Here is a link to docs for formatting symbols for python in general
* https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [677]:
# %I Hour (12-hour clock) as a zero-padded decimal number.
#%p Localeâ€™s equivalent of either AM or PM.

df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %I-%p')
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [678]:
#Check again!!
df.Date

# It's datetime64[ns] now

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [679]:
# We can convert to utc 
df['Date'] = pd.to_datetime(df['Date'], utc=True)
df

,Date,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 20:00:00+00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
1,2020-03-13 19:00:00+00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2,2020-03-13 18:00:00+00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
3,2020-03-13 17:00:00+00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
4,2020-03-13 16:00:00+00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00+00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55
23670,2017-07-01 14:00:00+00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85
23671,2017-07-01 13:00:00+00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99
23672,2017-07-01 12:00:00+00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87
23673,2017-07-01 11:00:00+00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87

In [680]:
parser = lambda x: datetime.strptime(x, '%Y-%m-%d %H-%p')
df =pd.read_csv('https://raw.githubusercontent.com/CoreyMSchafer/code_snippets/master/Python/Pandas/10-Datetime-Timeseries/ETH_1h.csv', parse_dates=['Date'], date_parser=parser)
df

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 08:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 07:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 06:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 05:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 04:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 03:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 02:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 01:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

**--> to_timedelta**


*  Timedeltas are absolute differences in times, expressed in difference units (e.g. days, hours, minutes, seconds).
*  This method converts an argument from a recognized timedelta format / value into a Timedelta type.

In [681]:
# we can create a Timedelta object as shown below:
year = timedelta(days=365)
another_year = timedelta(weeks=40, days=84, hours=23,
                         minutes=50, seconds=600)
year == another_year

True

In [682]:
#More functions like days, seconds etc.
ten_years = 10 * year
ten_years.days

3650

In [683]:
#More functions like days, seconds etc.
year.total_seconds()

31536000.0

In [684]:
#Once we have a datetime object, we can use the timedelta class to add time to it.
#Exsample will show possible arguments and they all optional too
ti = df.iloc[0,0] + timedelta(weeks=2, days=2,hours=2,  minutes=25, seconds=24)
ti

Timestamp('2020-03-29 10:25:24')

In [685]:
#Might use it to get a current date & time too
datetime.today()

datetime.datetime(2022, 10, 11, 18, 0, 43, 991995)

In [686]:
pd.Timedelta(days=2)

Timedelta('2 days 00:00:00')

**-->Timetamp**

In [687]:
pd.Timestamp(df.iloc[0,0], unit='s', tz='Europe/Stockholm')

Timestamp('2020-03-13 08:00:00+0100', tz='Europe/Stockholm')

Once we have our time coverted to datetime object then will have access to more functionaly.

In [688]:
# NOW we can run functions Like day_name() or .year, .month, .day etc
df.iloc[0,0].year
df.iloc[0,0].month
df.iloc[0,0].day
df.iloc[0,0].day_name()
df.iloc[0,0].date()

datetime.date(2020, 3, 13)

In [689]:
#You can run the previuos func on a list or series of values by usig dt class
df.Date.dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [690]:
#You might use the above code to create a cloumn for easy refrence
#used insert just to re-order columns
df['Day'] = df.Date.dt.day_name()
df.insert(1, 'Day', df.pop('Day'))
df

,Date,Day,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 08:00:00,Friday,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
1,2020-03-13 07:00:00,Friday,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2,2020-03-13 06:00:00,Friday,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
3,2020-03-13 05:00:00,Friday,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
4,2020-03-13 04:00:00,Friday,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...,...
23669,2017-07-01 03:00:00,Saturday,ETHUSD,265.74,272.74,265.00,272.57,1500282.55
23670,2017-07-01 02:00:00,Saturday,ETHUSD,268.79,269.90,265.00,265.74,1702536.85
23671,2017-07-01 01:00:00,Saturday,ETHUSD,274.83,274.93,265.00,268.79,3010787.99
23672,2017-07-01 12:00:00,Saturday,ETHUSD,275.01,275.01,271.00,274.83,824362.87
23673,2017-07-01 11:00:00,Saturday,ETHUSD,279.98,279.99,272.10,275.01,679358.87

In [691]:
# The earliest date by max() and the oldest date bt min()
#The most recent
df.Date.max()

Timestamp('2020-03-13 12:00:00')

In [692]:
# The Oldest
df.Date.min()

Timestamp('2017-07-01 01:00:00')

In [693]:
#The differnce between date would five the timedelta or the time between in days and hours
df.Date.max() - df.Date.min()

Timedelta('986 days 11:00:00')

In [694]:
#We can filter the data  we can get a data range or comperison
filter = df.Date > '2019-03-20'
df.loc[filter]

,Date,Day,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 08:00:00,Friday,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
1,2020-03-13 07:00:00,Friday,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2,2020-03-13 06:00:00,Friday,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
3,2020-03-13 05:00:00,Friday,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
4,2020-03-13 04:00:00,Friday,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...,...
8632,2019-03-20 04:00:00,Wednesday,ETHUSD,136.80,136.93,136.65,136.92,142096.49
8633,2019-03-20 03:00:00,Wednesday,ETHUSD,137.15,137.17,136.78,136.80,221582.92
8634,2019-03-20 02:00:00,Wednesday,ETHUSD,136.93,137.18,136.93,137.15,130715.62
8635,2019-03-20 01:00:00,Wednesday,ETHUSD,136.54,137.12,136.54,136.93,373206.37
8636,2019-03-20 12:00:00,Wednesday,ETHUSD,138.15,138.41,136.43,136.54,754098.31

In [695]:
#We can filter the data  we can get a data range or comperison
# I don't know why I say greater than > and it's the same as >=
filter = (df['Date'] > '2019-03-20') & (df['Date'] < '2020-03-20')
#filter = (df.Date > pd.to_datetime('2019-03-20')) & (df.Date < pd.to_datetime('2020-03-20'))
df.loc[filter]

,Date,Day,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 08:00:00,Friday,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
1,2020-03-13 07:00:00,Friday,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2,2020-03-13 06:00:00,Friday,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
3,2020-03-13 05:00:00,Friday,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
4,2020-03-13 04:00:00,Friday,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...,...
8632,2019-03-20 04:00:00,Wednesday,ETHUSD,136.80,136.93,136.65,136.92,142096.49
8633,2019-03-20 03:00:00,Wednesday,ETHUSD,137.15,137.17,136.78,136.80,221582.92
8634,2019-03-20 02:00:00,Wednesday,ETHUSD,136.93,137.18,136.93,137.15,130715.62
8635,2019-03-20 01:00:00,Wednesday,ETHUSD,136.54,137.12,136.54,136.93,373206.37
8636,2019-03-20 12:00:00,Wednesday,ETHUSD,138.15,138.41,136.43,136.54,754098.31

##Indexing Date

We can pass Date to our index and then filter by passing the date directley

In [696]:
#Set the Dat cloumn to index
df.set_index('Date', inplace=True)
df

,Day,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2020-03-13 08:00:00,Friday,ETHUSD,129.94,131.82,126.87,128.71,1940673.93
2020-03-13 07:00:00,Friday,ETHUSD,119.51,132.02,117.10,129.94,7579741.09
2020-03-13 06:00:00,Friday,ETHUSD,124.47,124.85,115.50,119.51,4898735.81
2020-03-13 05:00:00,Friday,ETHUSD,124.08,127.42,121.63,124.47,2753450.92
2020-03-13 04:00:00,Friday,ETHUSD,124.85,129.51,120.17,124.08,4461424.71
...,...,...,...,...,...,...,...
2017-07-01 03:00:00,Saturday,ETHUSD,265.74,272.74,265.00,272.57,1500282.55
2017-07-01 02:00:00,Saturday,ETHUSD,268.79,269.90,265.00,265.74,1702536.85
2017-07-01 01:00:00,Saturday,ETHUSD,274.83,274.93,265.00,268.79,3010787.99
2017-07-01 12:00:00,Saturday,ETHUSD,275.01,275.01,271.00,274.83,824362.87
2017-07-01 11:00:00,Saturday,ETHUSD,279.98,279.99,272.10,275.01,679358.87

In [697]:
#So now we can filter easy like this
df['2019']
#Or get a range of data
df['2019-10' : '2020-02']
df['2019-11']

,Day,Symbol,Open,High,Low,Close,Volume
Date,,,,,,,
2019-11-30 11:00:00,Saturday,ETHUSD,151.58,152.36,151.58,151.78,317114.79
2019-11-30 10:00:00,Saturday,ETHUSD,152.10,153.55,151.58,151.58,876578.44
2019-11-30 09:00:00,Saturday,ETHUSD,150.99,152.40,150.89,152.10,714971.27
2019-11-30 08:00:00,Saturday,ETHUSD,150.68,151.17,150.24,150.99,252314.15
2019-11-30 07:00:00,Saturday,ETHUSD,150.29,151.35,150.29,150.68,354877.14
...,...,...,...,...,...,...,...
2019-11-01 04:00:00,Friday,ETHUSD,180.63,181.28,180.46,181.17,117114.49
2019-11-01 03:00:00,Friday,ETHUSD,182.29,182.36,180.48,180.63,159409.22
2019-11-01 02:00:00,Friday,ETHUSD,181.86,182.48,181.62,182.29,329151.93
2019-11-01 01:00:00,Friday,ETHUSD,182.24,183.09,181.86,181.86,441009.67
2019-11-01 12:00:00,Friday,ETHUSD,182.38,182.44,181.51,182.24,133751.61

In [698]:
#you could simply pass in a year (in the format 'yyyy') or year-month parts ('yyyy-mm').
df.loc['2019', 'Close'] #This would return data for the whole year
df.loc['2019-09', 'Close'] #This would return the data for the whole month in that year

Date
2019-09-30 11:00:00    181.17
2019-09-30 10:00:00    177.54
2019-09-30 09:00:00    177.56
2019-09-30 08:00:00    176.99
2019-09-30 07:00:00    178.13
                        ...
2019-09-01 04:00:00    172.77
2019-09-01 03:00:00    172.75
2019-09-01 02:00:00    172.84
2019-09-01 01:00:00    172.87
2019-09-01 12:00:00    172.71
Name: Close, Length: 720, dtype: float64

In [770]:
#We can set timedelat to specify how frequent we want to see the data details, days, hours ... 
s = pd.Series(pd.date_range('2018-1-01', periods=3, freq='W'))
# S now is a weekly date range for 4 weeks
# 0   2018-01-07
# 1   2018-01-14
# 2   2018-01-21
# 3   2018-01-28
td = pd.Series([pd.Timedelta(weeks=i) for i in range(3)])
td
#td now is 4 sets of 7days
# 0    0 days
# 1    7 days
# 2   14 days
# 3   21 days
test = pd.DataFrame(dict(A = s, B = td))
test
test.A
test.B
set1= [str(x.date())for x in (test.A + test.B)]
set1

['2018-01-07', '2018-01-21', '2018-02-04']

In [771]:
[df[x] for x in set1]

[                        Day  Symbol     Open     High      Low    Close  \
 Date
 2018-01-07 11:00:00  Sunday  ETHUSD  1090.35  1118.30  1090.35  1118.30
 2018-01-07 10:00:00  Sunday  ETHUSD  1093.00  1093.00  1079.19  1090.35
 2018-01-07 09:00:00  Sunday  ETHUSD  1093.01  1095.00  1082.39  1093.00
 2018-01-07 08:00:00  Sunday  ETHUSD  1094.57  1098.87  1093.00  1093.01
 2018-01-07 07:00:00  Sunday  ETHUSD  1080.43  1095.00  1080.43  1094.57
 2018-01-07 06:00:00  Sunday  ETHUSD  1088.84  1093.00  1064.08  1080.43
 2018-01-07 05:00:00  Sunday  ETHUSD  1090.00  1098.50  1082.80  1088.84
 2018-01-07 04:00:00  Sunday  ETHUSD  1088.99  1098.30  1079.94  1090.00
 2018-01-07 03:00:00  Sunday  ETHUSD  1075.00  1088.99  1070.02  1088.99
 2018-01-07 02:00:00  Sunday  ETHUSD  1062.99  1077.04  1062.99  1075.00
 2018-01-07 01:00:00  Sunday  ETHUSD  1073.46  1073.67  1053.81  1062.99
 2018-01-07 12:00:00  Sunday  ETHUSD  1073.57  1077.00  1065.95  1073.46
 2018-01-07 11:00:00  Sunday  ETHUSD  1082.46  1083.50  1071.81  1073.57
 2018-01-07 10:00:00  Sunday  ETHUSD  1077.31  1086.26  1075.63  1082.46
 2018-01-07 09:00:00  Sunday  ETHUSD  1072.75  1079.63  1070.64  1077.31
 2018-01-07 08:00:00  Sunday  ETHUSD  1070.00  1073.15  1065.72  1072.75
 2018-01-07 07:00:00  Sunday  ETHUSD  1059.27  1070.00  1058.14  1070.00
 2018-01-07 06:00:00  Sunday  ETHUSD  1075.00  1075.00  1040.00  1059.27
 2018-01-07 05:00:00  Sunday  ETHUSD  1039.97  1075.00  1039.96  1075.00
 2018-01-07 04:00:00  Sunday  ETHUSD  1045.00  1048.66  1032.02  1039.97
 2018-01-07 03:00:00  Sunday  ETHUSD  1016.51  1045.00  1014.16  1045.00
 2018-01-07 02:00:00  Sunday  ETHUSD  1012.14  1022.98  1010.30  1016.51
 2018-01-07 01:00:00  Sunday  ETHUSD  1006.97  1012.14  1006.25  1012.14
 2018-01-07 12:00:00  Sunday  ETHUSD  1006.68  1008.94  1003.02  1006.97

                           Volume
 Date
 2018-01-07 11:00:00  13462835.87
 2018-01-07 10:00:00   5348725.99
 2018-01-07 09:00:00   4253790.95
 2018-01-07 08:00:00   6194240.94
 2018-01-07 07:00:00   5968531.91
 2018-01-07 06:00:00  10888072.24
 2018-01-07 05:00:00   9647202.97
 2018-01-07 04:00:00  10841849.33
 2018-01-07 03:00:00   6141088.10
 2018-01-07 02:00:00   4015429.72
 2018-01-07 01:00:00   6405023.10
 2018-01-07 12:00:00   3192845.37
 2018-01-07 11:00:00   3196348.41
 2018-01-07 10:00:00   3807080.12
 2018-01-07 09:00:00   3591867.24
 2018-01-07 08:00:00   3303306.51
 2018-01-07 07:00:00   5529575.64
 2018-01-07 06:00:00  10778205.63
 2018-01-07 05:00:00  15012897.42
 2018-01-07 04:00:00  11869222.48
 2018-01-07 03:00:00  13025298.92
 2018-01-07 02:00:00   9681875.28
 2018-01-07 01:00:00   5872427.19
 2018-01-07 12:00:00   4491350.25  ,
                         Day  Symbol     Open     High      Low    Close  \
 Date
 2018-01-21 11:00:00  Sunday  ETHUSD  1015.00  1047.13  1014.98  1047.13
 2018-01-21 10:00:00  Sunday  ETHUSD  1030.07  1055.67  1013.94  1015.00
 2018-01-21 09:00:00  Sunday  ETHUSD  1011.99  1033.59  1011.99  1030.07
 2018-01-21 08:00:00  Sunday  ETHUSD  1054.73  1054.73  1011.00  1011.99
 2018-01-21 07:00:00  Sunday  ETHUSD  1043.00  1061.07  1043.00  1054.73
 2018-01-21 06:00:00  Sunday  ETHUSD  1046.31  1049.47  1031.20  1043.00
 2018-01-21 05:00:00  Sunday  ETHUSD  1038.00  1050.00  1025.26  1046.31
 2018-01-21 04:00:00  Sunday  ETHUSD  1053.26  1053.26  1020.21  1038.00
 2018-01-21 03:00:00  Sunday  ETHUSD  1079.31  1091.29  1053.23  1053.26
 2018-01-21 02:00:00  Sunday  ETHUSD  1107.34  1114.78  1076.13  1079.31
 2018-01-21 01:00:00  Sunday  ETHUSD  1087.17  1120.62  1087.16  1107.34
 2018-01-21 12:00:00  Sunday  ETHUSD  1107.78  1113.10  1086.96  1087.17
 2018-01-21 11:00:00  Sunday  ETHUSD  1068.00  1107.79  1068.00  1107.78
 2018-01-21 10:00:00  Sunday  ETHUSD  1059.40  1079.93  1056.95  1068.00
 2018-01-21 09:00:00  Sunday  ETHUSD  1075.01  1075.01  1053.91  1059.40
 2018-01-21 08:00:00  Sunday  ETHUSD  1073.94  1093.90  1066.83  1075.01
 2018-01-21 07:00:00  Sunday  ETHUSD  1073.99  1082.50  1052.59  1073.94
 2018-01-21 06:00:00  Sunday  ETHUSD  1083.04  1099.00  1072.82  1073.99
 2018-01-21 05:00:00  Sunday  ETHUSD  1105.28  1112.13  1075.00  1083.04
 2018-01-21 04:00:00  Sunday  ETHUSD  1126.00  1130.00  1105.28  1105.28
 2018-01-21 03:00:00  Sunday  ETHUSD  1133.74  1136.34  1123.30  1126.00
 2018-01-21 02:00:00  Sunday  ETHUSD  1121.50  1143.90  1121.25  1133.74
 2018-01-21 01:00:00  Sunday  ETHUSD  1111.10  1125.00  1108.00  1121.50
 2018-01-21 12:00:00  Sunday  ETHUSD  1150.02  1151.00  1111.10  1111.10

                           Volume
 Date
 2018-01-21 11:00:00   6556604.95
 2018-01-21 10:00:00  10345135.40
 2018-01-21 09:00:00   9435100.46
 2018-01-21 08:00:00   8736637.51
 2018-01-21 07:00:00   5732033.51
 2018-01-21 06:00:00   6094254.86
 2018-01-21 05:00:00   7602742.18
 2018-01-21 04:00:00  15819266.07
 2018-01-21 03:00:00   6050884.18
 2018-01-21 02:00:00   4753331.72
 2018-01-21 01:00:00   4433307.17
 2018-01-21 12:00:00   2866583.77
 2018-01-21 11:00:00   2359437.76
 2018-01-21 10:00:00   2678446.05
 2018-01-21 09:00:00   3756295.22
 2018-01-21 08:00:00   4177139.83
 2018-01-21 07:00:00   6578653.08
 2018-01-21 06:00:00   4731091.36
 2018-01-21 05:00:00  11590728.17
 2018-01-21 04:00:00   5096419.96
 2018-01-21 03:00:00   2876422.00
 2018-01-21 02:00:00   6184528.56
 2018-01-21 01:00:00   8069360.91
 2018-01-21 12:00:00  11599825.42  ,
                         Day  Symbol    Open    High     Low   Close  \
 Date
 2018-02-04 11:00:00  Sunday  ETHUSD  848.00  849.40  825.99  826.00
 2018-02-04 10:00:00  Sunday  ETHUSD  810.59  849.40  809.45  848.00
 2018-02-04 09:00:00  Sunday  ETHUSD  825.64  834.00  807.11  810.59
 2018-02-04 08:00:00  Sunday  ETHUSD  837.60  843.49  783.27  825.64
 2018-02-04 07:00:00  Sunday  ETHUSD  857.80  857.80  836.00  837.60
 2018-02-04 06:00:00  Sunday  ETHUSD  874.06  881.57  853.81  857.80
 2018-02-04 05:00:00  Sunday  ETHUSD  872.00  886.57  868.31  874.06
 2018-02-04 04:00:00  Sunday  ETHUSD  857.12  874.57  850.00  872.00
 2018-02-04 03:00:00  Sunday  ETHUSD  881.93  887.71  852.89  857.12
 2018-02-04 02:00:00  Sunday  ETHUSD  885.95  900.00  878.15  881.93
 2018-02-04 01:00:00  Sunday  ETHUSD  896.00  896.01  875.00  885.95
 2018-02-04 12:00:00  Sunday  ETHUSD  893.00  898.88  863.00  896.00
 2018-02-04 11:00:00  Sunday  ETHUSD  894.82  919.15  889.00  893.00
 2018-02-04 10:00:00  Sunday  ETHUSD  900.00  904.36  886.64  894.82
 2018-02-04 09:00:00  Sunday  ETHUSD  930.21  930.22  894.25  900.00
 2018-02-04 08:00:00  Sunday  ETHUSD  949.63  954.97  925.50  930.21
 2018-02-04 07:00:00  Sunday  ETHUSD  961.31  964.42  945.10  949.63
 2018-02-04 06:00:00  Sunday  ETHUSD  960.89  970.40  960.13  961.31
 2018-02-04 05:00:00  Sunday  ETHUSD  949.09  960.89  945.38  960.89
 2018-02-04 04:00:00  Sunday  ETHUSD  959.00  959.00  945.38  949.09
 2018-02-04 03:00:00  Sunday  ETHUSD  948.47  962.00  948.36  959.00
 2018-02-04 02:00:00  Sunday  ETHUSD  935.41  952.50  935.40  948.47
 2018-02-04 01:00:00  Sunday  ETHUSD  952.00  956.93  935.40  935.41
 2018-02-04 12:00:00  Sunday  ETHUSD  969.40  970.00  950.00  952.00

                           Volume
 Date
 2018-02-04 11:00:00   5759688.19
 2018-02-04 10:00:00   8217352.05
 2018-02-04 09:00:00  11978820.98
 2018-02-04 08:00:00  34386861.73
 2018-02-04 07:00:00  11004974.37
 2018-02-04 06:00:00   6693548.22
 2018-02-04 05:00:00   4847917.91
 2018-02-04 04:00:00   8005297.29
 2018-02-04 03:00:00   8331528.04
 2018-02-04 02:00:00   4700162.24
 2018-02-04 01:00:00   5889104.48
 2018-02-04 12:00:00  10964073.59
 2018-02-04 11:00:00   4954494.14
 2018-02-04 10:00:00   7166177.92
 2018-02-04 09:00:00  12043254.45
 2018-02-04 08:00:00   4689484.97
 2018-02-04 07:00:00   2854319.45
 2018-02-04 06:00:00   3342620.35
 2018-02-04 05:00:00   3449808.71
 2018-02-04 04:00:00   2915721.47
 2018-02-04 03:00:00   2610425.53
 2018-02-04 02:00:00   5469744.38
 2018-02-04 01:00:00   5546291.16
 2018-02-04 12:00:00   3654196.88  ]

In [779]:
set2 = [df[x].resample('W').mean() for x in set1]
set2
#set2[0]

[                   Open         High       Low        Close        Volume
 Date
 2018-01-07  1065.344583  1074.455417  1058.025  1069.995417  7.354962e+06,
                    Open        High          Low       Close        Volume
 Date
 2018-01-21  1077.290833  1090.88375  1062.087083  1073.00375  6.588510e+06,
               Open    High     Low    Close        Volume
 Date
 2018-02-04  902.08  911.01  885.98  896.105  7.478161e+06]

##Resampling Pandas DataFrames using DateTimes

The Pandas .resample() method allows you to resample a dataset with a timeseries index. The method accepts a periodicity that you want to resample to, such as 'W' for week or 'H' for hour. Since youâ€™ll want to provide some method by which to invent your data, you can chain in another method, such as .mean(), max(), etc. to resample with that aggregation function. Letâ€™s resample our hourly data to daily data

In [700]:
#resampling Yearly
# Y = year, M = month, W = week, D =day, H = hour
df.resample('Y').mean()

                  Open        High         Low       Close        Volume
Date
2017-12-31  351.863442  354.775251  348.692225  351.966277  2.948845e+06
2018-12-31  481.001922  484.673551  476.769732  480.932120  2.733347e+06
2019-12-31  180.752257  181.766612  179.656623  180.752030  9.360009e+05
2020-12-31  197.568662  199.030543  195.993762  197.568759  1.415723e+06

In [701]:
# Resampling Data with Different Methods
df.resample('M').agg({
    'Close': 'last',
    'High': 'max',
    'Low': 'min',
    'Open': 'first',
    'Volume': 'sum'
})

              Close     High     Low     Open        Volume
Date
2017-07-31   195.31   293.73  130.26   274.83  1.818282e+09
2017-08-31   383.86   392.00  200.82   219.00  1.529929e+09
2017-09-30   295.36   396.88  202.25   395.19  1.678947e+09
2017-10-31   309.16   350.00  275.46   300.50  8.155377e+08
2017-11-30   447.51   518.13  278.88   297.45  1.974056e+09
2017-12-31   716.44   875.00  415.01   443.03  5.172910e+09
2018-01-31  1029.10  1419.96  727.14   750.50  7.728885e+09
2018-02-28   876.55  1143.00  555.56  1113.99  4.123206e+09
2018-03-31   404.21   878.00  365.00   863.29  2.028503e+09
2018-04-30   691.69   711.00  360.00   377.01  1.899357e+09
2018-05-31   560.00   828.97  507.00   650.97  2.241083e+09
2018-06-30   441.41   627.83  404.22   573.85  1.254270e+09
2018-07-31   454.68   515.88  418.23   448.41  7.496308e+08
2018-08-31   280.75   435.48  250.28   423.18  9.676426e+08
2018-09-30   230.48   302.20  167.00   284.89  1.006817e+09
2018-10-31   195.45   234.92  185.06   229.58  4.391482e+08
2018-11-30   115.31   222.78   98.20   197.01  7.365399e+08
2018-12-31   137.65   159.51   80.60   116.94  7.690382e+08
2019-01-31   109.69   160.61  100.90   134.45  5.248200e+08
2019-02-28   135.70   165.62  100.15   105.68  4.142434e+08
2019-03-31   141.14   147.00  122.75   135.05  2.903483e+08
2019-04-30   152.73   187.62  138.81   141.99  6.483574e+08
2019-05-31   255.65   288.77  155.91   158.65  1.688800e+09
2019-06-30   322.65   364.49  226.56   268.66  1.424131e+09
2019-07-31   212.85   318.60  190.11   288.79  1.102748e+09
2019-08-31   168.59   239.45  163.57   214.09  4.874852e+08
2019-09-30   169.54   224.71  152.11   169.83  5.349776e+08
2019-10-31   184.16   199.50  153.00   179.21  4.693033e+08
2019-11-30   154.83   194.60  131.80   182.12  3.593540e+08
2019-12-31   131.03   153.00  116.25   148.23  2.547992e+08
2020-01-31   183.82   186.89  125.52   131.28  4.195181e+08
2020-02-29   229.81   290.00  178.98   179.76  1.252927e+09
2020-03-31   107.09   253.01   90.00   221.44  8.036549e+08

**--> date_range**


* Returns the range of equally spaced time points (where the difference between 
any two adjacent points is specified by the given frequency)

In [702]:
#Returns the range of dates we want
pd.date_range(start='1/1/2018', end='1/08/2018')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

In [703]:
#Specify start, end or both date and periods, the number of periods (days).
pd.date_range(end='1/1/2018', periods=8)
pd.date_range(start='1/1/2018', periods=8)
test = pd.date_range(start='2017-07-01', end='2017-07-10', periods=1)
for x in test:
  print(df[str(x.date())])

                          Day  Symbol    Open    High     Low   Close  \
Date
2017-07-01 11:00:00  Saturday  ETHUSD  263.84  264.97  260.31  263.12
2017-07-01 10:00:00  Saturday  ETHUSD  257.13  264.36  256.03  263.84
2017-07-01 09:00:00  Saturday  ETHUSD  258.17  260.56  254.15  257.13
2017-07-01 08:00:00  Saturday  ETHUSD  258.49  262.00  257.12  258.17
2017-07-01 07:00:00  Saturday  ETHUSD  259.50  260.88  253.23  258.49
2017-07-01 06:00:00  Saturday  ETHUSD  263.51  266.73  255.27  259.50
2017-07-01 05:00:00  Saturday  ETHUSD  268.00  268.44  262.39  263.51
2017-07-01 04:00:00  Saturday  ETHUSD  272.57  272.57  267.60  268.00
2017-07-01 03:00:00  Saturday  ETHUSD  265.74  272.74  265.00  272.57
2017-07-01 02:00:00  Saturday  ETHUSD  268.79  269.90  265.00  265.74
2017-07-01 01:00:00  Saturday  ETHUSD  274.83  274.93  265.00  268.79
2017-07-01 12:00:00  Saturday  ETHUSD  275.01  275.01  271.00  274.83
2017-07-01 11:00:00  Saturday  ETHUSD  279.98  279.99  272.10  275.01

                         Volume
Date
2017-07-01 11:00:00  1902503.11
2017-07-01 10:00:00  1290127.76
2017-07-01 09:00:00  2765560.88
2017-07-01 08:00:00  2366698.50
2017-07-01 07:00:00  3962669.00
2017-07-01 06:00:00  5396852.35
2017-07-01 05:00:00  1894983.33
2017-07-01 04:00:00  1287300.75
2017-07-01 03:00:00  1500282.55
2017-07-01 02:00:00  1702536.85
2017-07-01 01:00:00  3010787.99
2017-07-01 12:00:00   824362.87
2017-07-01 11:00:00   679358.87

In [704]:
#Changed the freq (frequency) to 'M' (month end frequency).
test = pd.date_range(start='1/1/2018', periods=5, freq='3M')
for x in test:
  print(df[str(x.date())])

                           Day  Symbol     Open     High      Low    Close  \
Date
2018-01-31 11:00:00  Wednesday  ETHUSD  1093.00  1105.39  1090.00  1105.00
2018-01-31 10:00:00  Wednesday  ETHUSD  1087.40  1093.00  1085.15  1093.00
2018-01-31 09:00:00  Wednesday  ETHUSD  1090.00  1091.50  1083.38  1087.40
2018-01-31 08:00:00  Wednesday  ETHUSD  1088.00  1091.00  1078.20  1090.00
2018-01-31 07:00:00  Wednesday  ETHUSD  1097.09  1098.00  1080.50  1088.00
2018-01-31 06:00:00  Wednesday  ETHUSD  1094.00  1105.88  1094.00  1097.09
2018-01-31 05:00:00  Wednesday  ETHUSD  1095.00  1108.40  1092.99  1094.00
2018-01-31 04:00:00  Wednesday  ETHUSD  1092.93  1095.00  1074.31  1095.00
2018-01-31 03:00:00  Wednesday  ETHUSD  1087.00  1100.00  1082.00  1092.93
2018-01-31 02:00:00  Wednesday  ETHUSD  1093.10  1108.00  1077.99  1087.00
2018-01-31 01:00:00  Wednesday  ETHUSD  1117.05  1121.03  1091.00  1093.10
2018-01-31 12:00:00  Wednesday  ETHUSD  1103.71  1117.10  1097.31  1117.05
2018-01-31 11:00:00  Wednesday  ETHUSD  1090.98  1105.00  1082.33  1103.71
2018-01-31 10:00:00  Wednesday  ETHUSD  1081.99  1097.00  1076.54  1090.98
2018-01-31 09:00:00  Wednesday  ETHUSD  1079.99  1084.99  1068.00  1081.99
2018-01-31 08:00:00  Wednesday  ETHUSD  1090.00  1095.01  1073.00  1079.99
2018-01-31 07:00:00  Wednesday  ETHUSD  1072.10  1090.00  1072.09  1090.00
2018-01-31 06:00:00  Wednesday  ETHUSD  1056.01  1072.88  1054.99  1072.10
2018-01-31 05:00:00  Wednesday  ETHUSD  1051.93  1058.82  1038.00  1056.01
2018-01-31 04:00:00  Wednesday  ETHUSD  1060.49  1060.49  1038.65  1051.93
2018-01-31 03:00:00  Wednesday  ETHUSD  1064.28  1068.00  1046.00  1060.49
2018-01-31 02:00:00  Wednesday  ETHUSD  1028.00  1072.96  1027.99  1064.28
2018-01-31 01:00:00  Wednesday  ETHUSD  1029.10  1047.24  1013.25  1028.00
2018-01-31 12:00:00  Wednesday  ETHUSD  1054.39  1062.18  1029.00  1029.10

                          Volume
Date
2018-01-31 11:00:00  10373308.50
2018-01-31 10:00:00   6967638.48
2018-01-31 09:00:00   4744564.42
2018-01-31 08:00:00   8222214.02
2018-01-31 07:00:00   6863516.24
2018-01-31 06:00:00   5499231.17
2018-01-31 05:00:00   6656136.09
2018-01-31 04:00:00   6522563.15
2018-01-31 03:00:00   5512003.69
2018-01-31 02:00:00   7343128.38
2018-01-31 01:00:00   7938848.86
2018-01-31 12:00:00   5686784.20
2018-01-31 11:00:00   3979122.71
2018-01-31 10:00:00   3183779.67
2018-01-31 09:00:00   2639680.39
2018-01-31 08:00:00   3744714.79
2018-01-31 07:00:00   5860207.22
2018-01-31 06:00:00   5274542.06
2018-01-31 05:00:00   5631614.52
2018-01-31 04:00:00   7171008.37
2018-01-31 03:00:00   7420868.09
2018-01-31 02:00:00  14646336.58
2018-01-31 01:00:00  23401684.25
2018-01-31 12:00:00  14434314.71
                        Day  Symbol    Open    High     Low   Close  \
Date
2018-04-30 11:00:00  Monday  ETHUSD  663.80  669.96  662.70  669.81
2018-04-30 10:00:00  Monday  ETHUSD  669.11  672.00  662.11  663.80
2018-04-30 09:00:00  Monday  ETHUSD  670.95  671.00  667.69  669.11
2018-04-30 08:00:00  Monday  ETHUSD  676.99  677.00  668.00  670.95
2018-04-30 07:00:00  Monday  ETHUSD  680.00  680.91  675.00  676.99
2018-04-30 06:00:00  Monday  ETHUSD  679.76  684.50  678.03  680.00
2018-04-30 05:00:00  Monday  ETHUSD  677.17  680.00  677.16  679.76
2018-04-30 04:00:00  Monday  ETHUSD  680.16  682.99  677.16  677.17
2018-04-30 03:00:00  Monday  ETHUSD  678.02  680.87  677.99  680.16
2018-04-30 02:00:00  Monday  ETHUSD  683.16  683.95  676.63  678.02
2018-04-30 01:00:00  Monday  ETHUSD  686.00  689.00  682.00  683.16
2018-04-30 12:00:00  Monday  ETHUSD  684.88  689.00  684.33  686.00
2018-04-30 11:00:00  Monday  ETHUSD  687.54  689.00  683.58  684.88
2018-04-30 10:00:00  Monday  ETHUSD  685.54  689.90  681.19  687.54
2018-04-30 09:00:00  Monday  ETHUSD  684.00  691.00  682.43  685.54
2018-04-30 08:00:00  Monday  ETHUSD  676.89  684.00  672.88  684.00
2018-04-30 07:00:00  Monday  ETHUSD  682.10  684.00  673.43  676.89
2018-04-30 06:00:00  Monday  ETHUSD  684.99  685.85  679.00  682.10
2018-04-30 05:00:00  Monday  ETHUSD  678.50  685.00  678.49  684.99
2018-04-30 04:00:00  Monday  ETHUSD  677.49  682.80  677.48  678.50
2018-04-30 03:00:00  Monday  ETHUSD  690.99  692.04  677.00  677.49
2018-04-30 02:00:00  Monday  ETHUSD  690.17  692.00  688.96  690.99
2018-04-30 01:00:00  Monday  ETHUSD  691.69  691.69  688.00  690.17
2018-04-30 12:00:00  Monday  ETHUSD  687.51  692.45  685.20  691.69

                         Volume
Date
2018-04-30 11:00:00  3150428.15
2018-04-30 10:00:00  3181364.92
2018-04-30 09:00:00  1467881.48
2018-04-30 08:00:00  2276401.77
2018-04-30 07:00:00  2436522.89
2018-04-30 06:00:00  3371513.61
2018-04-30 05:00:00  2794856.60
2018-04-30 04:00:00  3387050.79
2018-04-30 03:00:00  2108209.99
2018-04-30 02:00:00  4318386.53
2018-04-30 01:00:00  1985768.72
2018-04-30 12:00:00  2146683.53
2018-04-30 11:00:00  2260051.59
2018-04-30 10:00:00  1944778.76
2018-04-30 09:00:00  2486420.29
2018-04-30 08:00:00  2542030.28
2018-04-30 07:00:00  2692448.04
2018-04-30 06:00:00  1988117.55
2018-04-30 05:00:00  1599669.11
2018-04-30 04:00:00  2216743.95
2018-04-30 03:00:00  3012169.39
2018-04-30 02:00:00  2317715.62
2018-04-30 01:00:00  1701253.81
2018-04-30 12:00:00  3141993.22
                         Day  Symbol    Open    High     Low   Close  \
Date
2018-07-31 11:00:00  Tuesday  ETHUSD  430.48  433.88  428.30  432.16
2018-07-31 10:00:00  Tuesday  ETHUSD  431.55  432.33  430.48  430.48
2018-07-31 09:00:00  Tuesday  ETHUSD  431.95  432.75  431.37  431.55
2018-07-31 08:00:00  Tuesday  ETHUSD  434.52  434.52  431.26  431.95
2018-07-31 07:00:00  Tuesday  ETHUSD  433.19  435.00  432.63  434.52
2018-07-31 06:00:00  Tuesday  ETHUSD  433.46  433.99  431.44  433.19
2018-07-31 05:00:00  Tuesday  ETHUSD  432.34  435.99  431.58  433.46
2018-07-31 04:00:00  Tuesday  ETHUSD  430.33  432.67  428.54  432.34
2018-07-31 03:00:00  Tuesday  ETHUSD  430.41  431.16  428.54  430.33
2018-07-31 02:00:00  Tuesday  ETHUSD  430.35  432.21  427.33  430.41
2018-07-31 01:00:00  Tuesday  ETHUSD  432.60  436.05  429.54  430.35
2018-07-31 12:00:00  Tuesday  ETHUSD  437.73  438.31  430.18  432.60
2018-07-31 11:00:00  Tuesday  ETHUSD  432.90  440.52  431.60  437.73
2018-07-31 10:00:00  Tuesday  ETHUSD  445.15  445.75  432.90  432.90
2018-07-31 09:00:00  Tuesday  ETHUSD  445.43  447.65  443.99  445.15
2018-07-31 08:00:00  Tuesday  ETHUSD  449.34  449.34  443.21  445.43
2018-07-31 07:00:00  Tuesday  ETHUSD  450.11  450.12  449.33  449.34
2018-07-31 06:00:00  Tuesday  ETHUSD  451.24  451.24  450.11  450.11
2018-07-31 05:00:00  Tuesday  ETHUSD  451.26  451.76  450.37  451.24
2018-07-31 04:00:00  Tuesday  ETHUSD  450.26  451.50  449.66  451.26
2018-07-31 03:00:00  Tuesday  ETHUSD  452.09  452.09  450.23  450.26
2018-07-31 02:00:00  Tuesday  ETHUSD  452.99  453.76  452.07  452.09
2018-07-31 01:00:00  Tuesday  ETHUSD  454.68  455.09  452.60  452.99
2018-07-31 12:00:00  Tuesday  ETHUSD  456.47  457.30  454.18  454.68

                         Volume
Date
2018-07-31 11:00:00  2321083.84
2018-07-31 10:00:00   742274.27
2018-07-31 09:00:00   891579.43
2018-07-31 08:00:00   816984.70
2018-07-31 07:00:00   778636.41
2018-07-31 06:00:00  1133259.52
2018-07-31 05:00:00  1727774.28
2018-07-31 04:00:00  1465643.75
2018-07-31 03:00:00  1334721.88
2018-07-31 02:00:00  2031236.90
2018-07-31 01:00:00  1726557.71
2018-07-31 12:00:00  1746093.66
2018-07-31 11:00:00  1242942.99
2018-07-31 10:00:00  1334797.37
2018-07-31 09:00:00   540888.54
2018-07-31 08:00:00  1337475.67
2018-07-31 07:00:00   185011.49
2018-07-31 06:00:00   224549.13
2018-07-31 05:00:00   175982.02
2018-07-31 04:00:00   666194.12
2018-07-31 03:00:00   860603.79
2018-07-31 02:00:00   366734.87
2018-07-31 01:00:00   803300.53
2018-07-31 12:00:00   582464.77
                           Day  Symbol    Open    High     Low   Close  \
Date
2018-10-31 11:00:00  Wednesday  ETHUSD  196.84  196.98  196.70  196.95
2018-10-31 10:00:00  Wednesday  ETHUSD  196.77  197.61  196.49  196.84
2018-10-31 09:00:00  Wednesday  ETHUSD  196.26  196.90  196.20  196.77
2018-10-31 08:00:00  Wednesday  ETHUSD  196.60  196.61  196.20  196.26
2018-10-31 07:00:00  Wednesday  ETHUSD  196.30  196.72  196.19  196.60
2018-10-31 06:00:00  Wednesday  ETHUSD  196.01  196.77  195.92  196.30
2018-10-31 05:00:00  Wednesday  ETHUSD  196.80  197.01  195.99  196.01
2018-10-31 04:00:00  Wednesday  ETHUSD  197.77  197.77  196.45  196.80
2018-10-31 03:00:00  Wednesday  ETHUSD  192.68  200.00  191.93  197.77
2018-10-31 02:00:00  Wednesday  ETHUSD  194.43  194.65  191.40  192.68
2018-10-31 01:00:00  Wednesday  ETHUSD  194.85  194.93  194.10  194.43
2018-10-31 12:00:00  Wednesday  ETHUSD  194.85  194.85  194.84  194.85
2018-10-31 11:00:00  Wednesday  ETHUSD  195.00  195.06  194.74  194.85
2018-10-31 10:00:00  Wednesday  ETHUSD  194.36  195.00  194.00  195.00
2018-10-31 09:00:00  Wednesday  ETHUSD  194.66  194.86  194.36  194.36
2018-10-31 08:00:00  Wednesday  ETHUSD  194.40  194.94  194.37  194.66
2018-10-31 07:00:00  Wednesday  ETHUSD  194.52  194.53  194.20  194.40
2018-10-31 06:00:00  Wednesday  ETHUSD  195.07  195.15  194.36  194.52
2018-10-31 05:00:00  Wednesday  ETHUSD  195.24  195.27  195.02  195.07
2018-10-31 04:00:00  Wednesday  ETHUSD  195.17  195.29  195.03  195.24
2018-10-31 03:00:00  Wednesday  ETHUSD  195.41  195.49  195.17  195.17
2018-10-31 02:00:00  Wednesday  ETHUSD  195.29  195.51  195.17  195.41
2018-10-31 01:00:00  Wednesday  ETHUSD  195.45  195.65  195.00  195.29
2018-10-31 12:00:00  Wednesday  ETHUSD  195.35  195.73  195.17  195.45

                         Volume
Date
2018-10-31 11:00:00   162688.14
2018-10-31 10:00:00   512448.10
2018-10-31 09:00:00   407912.08
2018-10-31 08:00:00   395288.85
2018-10-31 07:00:00   303612.10
2018-10-31 06:00:00   401074.85
2018-10-31 05:00:00   335933.81
2018-10-31 04:00:00  1064013.33
2018-10-31 03:00:00  2718316.48
2018-10-31 02:00:00   933053.02
2018-10-31 01:00:00   686959.19
2018-10-31 12:00:00    90386.70
2018-10-31 11:00:00   108858.72
2018-10-31 10:00:00   180336.63
2018-10-31 09:00:00   125808.74
2018-10-31 08:00:00   130163.35
2018-10-31 07:00:00   137403.26
2018-10-31 06:00:00   215228.52
2018-10-31 05:00:00   162456.56
2018-10-31 04:00:00   126131.62
2018-10-31 03:00:00   236638.70
2018-10-31 02:00:00   223392.65
2018-10-31 01:00:00   311256.66
2018-10-31 12:00:00   360781.63
                          Day  Symbol    Open    High     Low   Close  \
Date
2019-01-31 11:00:00  Thursday  ETHUSD  106.24  106.24  105.53  105.79
2019-01-31 10:00:00  Thursday  ETHUSD  105.75  106.35  105.61  106.24
2019-01-31 09:00:00  Thursday  ETHUSD  106.23  106.23  105.64  105.75
2019-01-31 08:00:00  Thursday  ETHUSD  105.71  106.25  105.49  106.23
2019-01-31 07:00:00  Thursday  ETHUSD  105.11  105.84  105.05  105.71
2019-01-31 06:00:00  Thursday  ETHUSD  105.38  105.45  105.03  105.11
2019-01-31 05:00:00  Thursday  ETHUSD  105.39  105.60  105.31  105.38
2019-01-31 04:00:00  Thursday  ETHUSD  105.99  105.99  105.28  105.39
2019-01-31 03:00:00  Thursday  ETHUSD  105.02  106.00  105.02  105.99
2019-01-31 02:00:00  Thursday  ETHUSD  106.35  106.35  104.83  105.02
2019-01-31 01:00:00  Thursday  ETHUSD  106.44  106.44  106.07  106.35
2019-01-31 12:00:00  Thursday  ETHUSD  106.10  106.56  105.89  106.44
2019-01-31 11:00:00  Thursday  ETHUSD  106.03  106.36  105.81  106.10
2019-01-31 10:00:00  Thursday  ETHUSD  106.30  106.51  105.56  106.03
2019-01-31 09:00:00  Thursday  ETHUSD  107.15  107.24  106.06  106.30
2019-01-31 08:00:00  Thursday  ETHUSD  108.47  108.47  106.55  107.15
2019-01-31 07:00:00  Thursday  ETHUSD  108.43  108.61  108.17  108.47
2019-01-31 06:00:00  Thursday  ETHUSD  108.23  108.56  108.00  108.43
2019-01-31 05:00:00  Thursday  ETHUSD  108.56  108.63  108.20  108.23
2019-01-31 04:00:00  Thursday  ETHUSD  108.58  108.59  108.10  108.56
2019-01-31 03:00:00  Thursday  ETHUSD  108.86  108.86  108.53  108.58
2019-01-31 02:00:00  Thursday  ETHUSD  109.17  109.17  108.44  108.86
2019-01-31 01:00:00  Thursday  ETHUSD  109.69  109.69  108.93  109.17
2019-01-31 12:00:00  Thursday  ETHUSD  107.61  109.97  107.59  109.69

                         Volume
Date
2019-01-31 11:00:00   154196.70
2019-01-31 10:00:00   287372.14
2019-01-31 09:00:00   329152.63
2019-01-31 08:00:00   460235.89
2019-01-31 07:00:00   440680.10
2019-01-31 06:00:00   446865.20
2019-01-31 05:00:00   467686.84
2019-01-31 04:00:00   361936.02
2019-01-31 03:00:00   269521.55
2019-01-31 02:00:00   620545.93
2019-01-31 01:00:00   388167.59
2019-01-31 12:00:00   379920.36
2019-01-31 11:00:00   199532.04
2019-01-31 10:00:00   277427.72
2019-01-31 09:00:00   178969.38
2019-01-31 08:00:00   490758.86
2019-01-31 07:00:00   118984.20
2019-01-31 06:00:00   185724.95
2019-01-31 05:00:00   170567.12
2019-01-31 04:00:00   221586.17
2019-01-31 03:00:00   248138.53
2019-01-31 02:00:00   521855.37
2019-01-31 01:00:00   335899.34
2019-01-31 12:00:00  1279325.87

In [705]:
#Specify tz to set the timezone.
pd.date_range(start='1/1/2018', periods=5, tz='Asia/Tokyo')

DatetimeIndex(['2018-01-01 00:00:00+09:00', '2018-01-02 00:00:00+09:00',
               '2018-01-03 00:00:00+09:00', '2018-01-04 00:00:00+09:00',
               '2018-01-05 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', freq='D')